dsl-generator/.gradle/2.1/taskArtifacts/cache.properties
dsl-generator/.gradle/2.1/taskArtifacts/cache.properties.lock
dsl-generator/.gradle/2.1/taskArtifacts/fileHashes.bin
dsl-generator/.gradle/2.1/taskArtifacts/fileSnapshots.bin
dsl-generator/.gradle/2.1/taskArtifacts/outputFileStates.bin
dsl-generator/.gradle/2.1/taskArtifacts/taskArtifacts.bin
dsl-generator/.gradle/2.3/taskArtifacts/cache.properties
dsl-generator/.gradle/2.3/taskArtifacts/cache.properties.lock
dsl-generator/.gradle/2.3/taskArtifacts/fileHashes.bin
dsl-generator/.gradle/2.3/taskArtifacts/fileSnapshots.bin
dsl-generator/.gradle/2.3/taskArtifacts/outputFileStates.bin
dsl-generator/.gradle/2.3/taskArtifacts/taskArtifacts.bin
dsl-generator/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
dsl-generator/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
dsl-generator/.settings/org.eclipse.jdt.core.prefs
dsl-generator/src/test/resources/org/marting/data/TestDomainModel.class
